version: "3"
services:
  redis:
    image: redis:7
    container_name: demo-redis
    ports:
      - "6379:6379"

  app:
    build: .  # 이미지 빌드 자동화
    container_name: demo-app
    ports:
      - "8080:8080"
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    depends_on:
      - redis