spring:
  application:
    name: cache-examples

  profile:
    active: ${SPRING_PROFILES_ACTIVE:redis} # profile(local, redis) 설정

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      # 초기화 기능 활성화
      enabled: true
      # 데이터 파일 위치
      data-locations: classpath:db/data.sql

# 모니터링 (Actuator) 설정
management:
  endpoints:
    web:
      exposure:
        # health, info 외에 prometheus 엔드포인트를 명시적으로 노출해야 합니다.
        include: 'health, info, prometheus'
  metrics:
    tags:
      application: ${SPRING_APPLICATION_NAME} # Prometheus 지표에 애플리케이션 이름 태그 추가

logging:
  level:
    com.example.cache: DEBUG
    org.springframework.cache: TRACE
